{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PRA2 Docker{% endblock %}

{% block content %}
<div class="container">
    <h1>Flask Form Example with UofT Email Validation</h1>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <div class="page-header">
        <h2>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h2>

        {% if email %}
            {% if 'utoronto' in email %}
                <h3>Your UofT email is {{ email }}. Welcome to PRA2 Docker!</h3>
            {% else %}
                <h3 class="text-danger">Please enter a valid UofT email.</h3>
            {% endif %}
        {% endif %}
    </div>

    <p>The local date and time is: {{ moment(current_time).format('LLLL') }}.</p>
    <p>This page was loaded {{ moment(current_time).fromNow(refresh=True) }}.</p>

    {{ wtf.quick_form(form) }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
